/* Add a background color to the top navigation */
.topnav {
  position: fixed;
  background-color: #4064ac;
  color: white;
  font-weight: bold;
  width: 100%;
  font-size: 28px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 22px 10px;
  line-height: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #263f70;
}

.back {
  float: right;
  padding: 1.13rem;
  margin: 0;
}
.home {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.topnav img {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  float: left;
}
.active {
  background-color: #263f70;
}
